<a href="https://colab.research.google.com/github/SalahSharaf/content_based_recommendation_engine/blob/main/Content_based_RE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [58]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import sklearn

In [59]:
df=pd.read_csv('movies.csv')

In [60]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9742 entries, 0 to 9741
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  9742 non-null   int64
 1   title    9742 non-null   object
 2   genres   9742 non-null   object
dtypes: int64(1), object(2)
memory usage: 228.5+ KB

In [61]:
df['genres']=df['genres'].str.split('|',expand=False)
df=df.explode('genres')

In [62]:
df.head()

   movieId             title     genres
0        1  Toy Story (1995)  Adventure
0        1  Toy Story (1995)  Animation
0        1  Toy Story (1995)   Children
0        1  Toy Story (1995)     Comedy
0        1  Toy Story (1995)    Fantasy

In [63]:
cross_df=pd.crosstab(df['title'],df['genres'])

In [ ]:
cross_df.head()

In [65]:
from scipy.spatial.distance import pdist, squareform

In [67]:
jaccard_distances = pdist(cross_df.values, metric='jaccard')

In [68]:
square_jaccard_distances = squareform(jaccard_distances)

In [69]:
jaccard_similarity_array = 1 - square_jaccard_distances

In [72]:
distance_df = pd.DataFrame(jaccard_similarity_array,index=cross_df.index,columns=cross_df.index)

In [73]:
distance_df.head()

title                                    '71 (2014)  ...  À nous la liberté (Freedom for Us) (1931)
title                                                ...
'71 (2014)                                 1.000000  ...                                   0.000000
'Hellboy': The Seeds of Creation (2004)    0.125000  ...                                   0.166667
'Round Midnight (1986)                     0.200000  ...                                   0.333333
'Salem's Lot (2004)                        0.333333  ...                                   0.000000
'Til There Was You (1997)                  0.200000  ...                                   0.000000

[5 rows x 9737 columns]

In [79]:
def find_match(title_name):
  matches=distance_df[title_name].sort_values(ascending=False)
  return matches.head(20)

In [81]:
find_match('\'Hellboy\': The Seeds of Creation (2004)')

title
'Hellboy': The Seeds of Creation (2004)                          1.000000
Last Action Hero (1993)                                          0.800000
Your Highness (2011)                                             0.800000
Pirates of the Caribbean: The Curse of the Black Pearl (2003)    0.800000
Gamers, The: Dorkness Rising (2008)                              0.800000
Dungeons & Dragons (2000)                                        0.800000
Big Trouble in Little China (1986)                               0.800000
Forbidden Kingdom, The (2008)                                    0.800000
Pirates of the Caribbean: At World's End (2007)                  0.800000
Princess Bride, The (1987)                                       0.666667
Hancock (2008)                                                   0.666667
Sorcerer's Apprentice, The (2010)                                0.666667
Librarian: Quest for the Spear, The (2004)                       0.666667
Army of Darkness (1993)                                          0.666667
Teenage Mutant Ninja Turtles III (1993)                          0.666667
Goonies, The (1985)                                              0.666667
Golden Child, The (1986)                                         0.666667
Ant-Man and the Wasp (2018)                                      0.666667
Erik the Viking (1989)                                           0.600000
Tomb Raider (2018)                                               0.600000
Name: 'Hellboy': The Seeds of Creation (2004), dtype: float64